---

const {institution, endDate, startDate, area} = Astro.props;

---

<div class="education-item">
    <div class="education-item--left">
        <p>{`• ${startDate}`}</p>
        <p>-</p>
        <p>{endDate}</p>
    </div>
    <div class="education-item--right">
        <p class="institution">{`• ${area}`}</p>
        <p class="area">{`• ${institution}`}</p>
    </div>
</div>

<style>
    .education-item {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    
    .education-item--left {
        display: flex;
        gap: 4px;
        min-width: 160px;
    }

    .institution {
        color: var(--accent);
    }

    .area {
        color: #B3B3B3;
    }

    @media screen and (min-width: 600px) {
        .education-item {
            flex-direction: row;
        }
    }

</style>