---

---

<section class="about">
    <h2 class="about-title">
        Sobre Mí
    </h2>
    <div class="about-description">
        <p>
            Soy Desarrollador Web especializado en el Frontend con un sólido criterio de diseño, actualmente en formación en Backend.
        </p>
        <p>
            Confío plenamente en la organización y la planeación de cada proyecto, y soy riguroso con la calidad del resultado final.
        </p>
        <p>
            Considero que la diferencia está en los detalles. Si tu forma de trabajar coincide con la mía, podemos hacerlo juntos. <a href="" class="about-contact">Hablemos</a>.
        </p>
    </div>
</section>

<style>
    .about {
        margin-top: 32px;
    }

    .about-title {
        margin-bottom: 16px;
    }
    
    .about-description {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .about-description p {
        color: var(--description)
    }

    .about-contact {
        color: var(--accent);
        text-decoration: underline;
    }

</style>